<h2>{{user}} Stories</h2>
<a href="{% url 'story:create' %}">Create</a>
<div>	
{% for story in stories %}
    <h3>{{ story.title }}</h3>
    <p>Published by {{ story.author }} on <small>{{ story.created }}</small></p>
    <p>{{ story.description }}</p>
    <p>category: 
		<a href="{% url 'story:category' story.category.name %}">
			{{ story.category.name }}
		</a>
	</p>
    <p>
    	<a href="{% url 'story:detail' story.id %}">link</a>
    	<a href="{% url 'story:edit' story.id %}">edit</a>
    </p>
{% empty %}
    <p>No stories yet.</p>
{% endfor %}
</div>